
@{
    ViewBag.Title = "SetBookingDispatch";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>SetBookingDispatch</h2>

@*@foreach(var itm in ViewBag)
    {*@

@Html.Raw(ViewBag.txtToDispatch + "</br>")
@Html.Raw(ViewBag.txtBlocked + "</br>")
@Html.Raw(ViewBag.spnSOID + "</br>")

@*}*@
