@{
    ViewBag.Title = "Purchase Received - New";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="top_header">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("New", "PurchaseRcv"))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">

        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <span class="control-labell col-md-12">Your PO No.:</span>
                <div class="col-md-12">
                    <input type="text" id="PONo" name="PONo" class="form-control" required />
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
