<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Servr Message</h1>
        <h2>@ViewBag.Msg</h2>
    </hgroup>
</body>
</html>
