@using KPI.Classes;
@model IEnumerable<KPILib.Models.PurchaseMaster>

@{
    ViewBag.Title = "Purchase Orders";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#tblData').DataTable({
            "scrollCollapse": false,
            "paging": true,
            select: false,
            data: @Html.Raw(Json.Encode(Model)),
            columns: [
                {
                    data: null, title: "PO No.", 
                    render: function (data, type, row) {
                        return "<a href='Get/" + data.PurchaseID + "'>" + data.PurchaseID + "</a>";
                    }
                },
                {
                    data: "PurchaseDate", title: "PO Date", "sType": "date",
                    render: function (d) {
                        return new Date(Number(d.toString().substring(6, 19))).toShortDateFormat();
                    }
                },
                { data: "CompanyLocation", title: "Vendor / Location" },
                { data: "User", title: "User" },
                { data: "Status", title: "Status" },
                { data: "Instructions", title: "Instructions" }
            ]
        });
    });
</script>

<div class="top_header">
    <h2>@ViewBag.Title</h2>

    @Html.ActionLink("Add New", "New", new { area = "" }, new { @class = "btn btn-primary" })
</div>
<div class="table-responsive">
    <table id="tblData" class="table table-sm table-striped" cellspacing="0" width="100%">
    </table>
</div>