@model IEnumerable<KPILib.Models.MachineMasterModel>

@{
    ViewBag.Title = "Machines";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#tblData').DataTable({
            "scrollCollapse": false,
            "paging": true,
            select: false,
            data: @Html.Raw(Json.Encode(Model)),
            columns: [
                {
                    data: null, title: "Machine Name",
                    render: function (data, type, row) {
                        return "<a href='AddMachine?MachineId=" + data.MachineID + "'>" + data.MachineName + "</a>";
                    }
                },
                { data: "MachineTypeName", title: "MachineTypeName" },
                { data: "MachineStatus", title: "Machine Status" },
                { data: "Description", title: "Description" }
            ]
        });
    });
</script>

<div class="top_header">
    <h2>@ViewBag.Title</h2>

    @Html.ActionLink("Add New", "AddMachine", new { area = "" }, new { @class = "btn btn-primary" })
</div>

<div class="table-responsive">

    <table id="tblData" class="table table-sm table-striped" cellspacing="0" width="100%">
    </table>
</div>