/*.tableThead {
    background-color: #325d88;
    color: white;
}*/

.table > thead {
    background-color: #325d88;
    color: #fff;
}

.activeBtn {
    background-color: #98978b;
    /*border: none;*/
    color: white;
    text-align: center;
    /*text-decoration: none;*/
    /*font-size: 16px;*/
    transition-duration: 0.2s;
    cursor: pointer;
    /*height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;*/
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    /*width: 160px;*/
}

    .activeBtn:hover {
        background-color: #008CBA !important;
        color: white;
    }

.deactiveBtn {
    background-color: #4CAF50;
    /*border: none;*/
    color: white;
    text-align: center;
    /*text-decoration: none;*/
    /*font-size: 16px;*/
    transition-duration: 0.2s;
    cursor: pointer;
   /* height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;*/
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /*width: 160px;*/
}

deactiveBtn:hover {
    background-color: #008CBA !important;
    color: white !important;
}

/* Loader wrapper to cover the entire page */
#loader {
    position: fixed; /* Make the loader fixed on the screen */
    left: 0;
    top: 0;
    width: 100%; /* Full-width */
    height: 100%; /* Full-height */
    background-color: rgba(255, 255, 255, 0.7); /* White background with transparency */
    z-index: 9999; /* Ensure loader is on top of other content */
    display: flex; /* Flexbox to center the loader */
    justify-content: center;
    align-items: center;
}

    /* Loader image or spinner style */
    #loader img {
        width: 100px; /* Customize the size of the spinner */
        height: 100px;
    }
