
:root,
body {
    font-family: "Montserrat", sans-serif !important;
}
.bg-dark {
    background-color: #494949 !important;
    box-shadow: 0px 4px 7px -4px #000000cc;
}
footer{
    text-align:center;
}
footer p{
    margin-bottom:0;
    padding: 0 15px;
}
.navbar-collapse {
    flex-grow: inherit;
}
.body-content {
    padding-right: 30px;
}
.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.top_header h2{
    font-weight:600;
    font-size: 19px
}
table.dataTable.no-footer {
    border-bottom: 1px solid #bcbcbc;
}
.back_btn a {
    color: #325d88;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}
.wrap_container {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}
.form-group{
    margin-bottom:20px;
}
.field-validation-error{
    font-size:12px
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 71%);
}
/*Login css start*/
.login_body {
    background: #def3fc;
    position: relative
}
    .login_body:before {
        content: '';
        position: absolute;
        bottom: 0;
        background: url(https://img.freepik.com/premium-vector/panoramic-industrial-silhouette-oil-industry-factory-buildings-refinery-complex-with-pipes-tanks-landscape-background-vector-illustration_102902-7094.jpg?semt=ais_hybrid);
        background-size: contain;
        background-repeat: repeat;
        height: 200px;
        width: 100%;
        left: 0;
        opacity: 0.5;
    }
.login_panel {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.login_content {
    background: #fff;
    padding: 30px 50px;
    box-shadow: 0px 7px 22px -5px #a8a8a8;
    margin-top:-30px
}
.dash_box{
    padding: 25px 15px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}
.horizontal_center{
    justify-content:center
}
.dash_wrap{
    margin-top:30px;
}
.table{
    font-size:13px;
}
textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e3f3a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media(max-width:767px) {
    .body-content{
        padding-right: 15px;
    }
    div.dataTables_wrapper div.dataTables_length {
        display: flex;
    }
    div.dataTables_wrapper div.dataTables_filter {
        display: flex;
        justify-content: end;
        margin-top: -30px;
    }
    table.dataTable thead th, table.dataTable thead td {
        padding: 5px 10px;
    }
    .modal-footer .btn,
    .modal-body .btn,
    .top_header .btn {
        width: auto;
    }
    .btn {
        width: 100%
    }
    div.dataTables_wrapper div.dataTables_length select{
        width: 70px;
    }

    .MenuButtonClass {
        display: flex
    }
    .deactiveBtn:nth-child(2){
        margin: 0 5px;
    }
    .eight-cols .qty,
    .dispatch_tbl .qty {
        width: 300px;
        flex: 1;
        margin: 3px 0;
    }
    .login_panel{
        height:auto;
    }.login_content{

        margin-top: 30px
     }
    .dash_box{
        margin-bottom:15px;
    }
}